# file .env.template da duplicare (cp .env.template .env) con le tue credenziali, puoi 
# scegliere le password che più ti aggradano, docker dovrebbe funzionare
# normalmente in quanto lavora localmente

POSTGRES_USER=sostituiscimi_con_un_altro_nome_utente
POSTGRES_PASSWORD=sostituiscimi_con_un_altra_password
POSTGRES_DB=sostituiscimi_con_un_altra_password
REDIS_PASSWORD=sostituiscimi_con_un_altra_password